@model MythWiki.Models.Subject

@{
    ViewData["Title"] = "AddSubject";
}

<h2>Add Subject</h2>

<p>Voeg via deze pagina een subject toe!</p>

<div>
    @using (Html.BeginForm())
    {
        <p>Author Name: @Html.TextBoxFor(m => m.Authors)</p>
        <p>Title: @Html.TextBoxFor(m => m.Title)</p>
        <p>Text for Subject: @Html.TextBoxFor(m => m.Text)</p>
        <p>Image Link: @Html.TextBoxFor(m => m.Image)</p>
        <p>Publish date: @Html.TextBoxFor(m => m.Date)</p>

        <input type="submit" name="Add Subject" />
    }
</div>
