@model MythWikiBusiness.Models.Subject

@{
    ViewData["Title"] = "Edit Subject";
}

<div class="text-center">
    <h1 class="display-4">Edit Subject</h1>
    <div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form asp-action="EditSubject" method="post">
            <input type="hidden" name="SubjectID" value="@Model.SubjectID" />
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" name="title" id="Title" class="form-control" placeholder="Title" value="@Model.Title" >
            </div>
            <div class="form-group">
                <label for="Text">Text</label>
                <textarea name="text" id="Text" class="form-control" placeholder="Text" >@Model.Text</textarea>
            </div>
            <div class="form-group">
                <label for="EditorID">Editor ID</label>
                <input type="number" name="editorid" id="EditorID" class="form-control" placeholder="Editor ID" value="@Model.EditorID" >
            </div>
            <div class="form-group">
                <label for="Image">Image Link</label>
                <input type="text" name="imagelink" id="Image" class="form-control" placeholder="Image Link" value="@Model.Image">
            </div>
            <input type="submit" class="btn btn-outline-dark" value="Save Changes">
        </form>
    </div>
</div>