@model MythWikiBusiness.Models.Subject

@{
    ViewData["Title"] = "Subject Details";
}

<div class="container my-5">
    <h1 class="display-4">@Model.Title</h1>
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">@Model.Text</p>
                    <p class="card-text"><strong>Editor:</strong> @Model.EditorName</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@Model.Image" class="card-img-top" alt="Image">
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="EditSubject" asp-route-id="@Model.SubjectID" class="btn btn-primary">Edit</a>
    </div>
</div>
